<div class="doc-sidebar">
  <div class="nav-scroller mt-n4 mt-lg-0" >
  <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav flex-column" id="sidebarnav">
            <li class="nav-item"><a href="{% url 'back:home' %}" class="nav-link">Introduction</a></li>
            <li class="nav-item"><a href="{% url 'back:gulp' %}" class="nav-link">Gulp</a></li>
            <li class="nav-item"><a href="{% url 'back:changelog' %}" class="nav-link">Changelog</a></li>
            <li class="nav-item"><a href="{% url 'back:credits' %}" class="nav-link">Credits</a></li>
            
            <li class="navbar-header">
                <h5 class="heading">Utilities</h5>
            </li>
            <li class="nav-item"><a href="{% url 'back:borders' %}" class="nav-link">Borders</a></li>
            <li class="nav-item"><a href="{% url 'back:colored_links' %}" class="nav-link">Colored Links</a></li>
            <li class="nav-item"><a href="{% url 'back:opacity' %}" class="nav-link">Opacity</a></li>
            <li class="nav-item"><a href="{% url 'back:ratio' %}" class="nav-link">Ratio</a></li>
            <li class="nav-item"><a href="{% url 'back:stacks' %}" class="nav-link">Stacks</a></li>
            <li class="nav-item"><a href="{% url 'back:text' %}" class="nav-link">Text</a></li>
            <li class="nav-item"><a href="{% url 'back:text_truncation' %}" class="nav-link">Text Truncation</a></li>
            <li class="nav-item"><a href="{% url 'back:vertical_rule' %}" class="nav-link">Vertical Rule</a></li>
            <li class="nav-item"><a href="{% url 'back:colors' %}" class="nav-link">Colors</a></li>
            <li class="nav-item"><a href="{% url 'back:shadows' %}" class="nav-link">Shadows</a></li>
            <li class="nav-item"><a href="{% url 'back:typography' %}" class="nav-link">Typography</a></li>
            
              <li class="navbar-header">
                <h5 class="heading">Components</h5>
              </li>
              <li class="nav-item">
                <a href="{% url 'back:accordions' %}" class="nav-link">Accordions</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:alerts' %}" class="nav-link">Alerts</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:badge' %}" class="nav-link">Badge</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:breadcrumb' %}" class="nav-link">Breadcrumb</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:buttons' %}" class="nav-link">Buttons</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:button_group' %}" class="nav-link">Button group</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:card' %}" class="nav-link">Card</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:carousel' %}" class="nav-link">Carousel</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:close_button' %}" class="nav-link">Close Button</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:collapse' %}" class="nav-link">Collapse</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:dropdowns' %}" class="nav-link">Dropdowns</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:forms' %}" class="nav-link">Forms</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:list_group' %}" class="nav-link">List group</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:modal' %}" class="nav-link">Modal</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:navs_tabs' %}" class="nav-link">Navs and tabs</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:navbar' %}" class="nav-link">Navbar</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:offcanvas' %}" class="nav-link">Offcanvas</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:pagination' %}" class="nav-link">Pagination</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:placeholders' %}" class="nav-link">Placeholders</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:popovers' %}" class="nav-link">Popovers</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:progress' %}" class="nav-link">Progress</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:scrollspy' %}" class="nav-link">Scrollspy</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:spinners' %}" class="nav-link">Spinners</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:tables' %}" class="nav-link">Tables</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:toasts' %}" class="nav-link">Toasts</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'back:tooltips' %}" class="nav-link">Tooltips</a>
            </li>
            
          </ul>

        </div>

    </nav>
  </div>
  </div>