<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
<link rel="stylesheet" href="{% static 'backOffice/assets/css/theme.css' %}"> <!-- Adjust according to your CSS file -->
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}">

<!-- Libs CSS -->
<link href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'node_modules/dropzone/dist/dropzone.css' %}" rel="stylesheet">
<link href="{% static 'node_modules/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet">
<link href="{% static 'node_modules/prismjs/themes/prism-okaidia.css' %}" rel="stylesheet">

<!-- Theme CSS -->
<!-- build:css {% static 'assets/css/theme.min.css' %} -->
<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
<!-- endbuild -->
