{% extends 'frontOffice/base.html' %}
{% load static %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Our Accommodations</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'front:indexF' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Accommodations</li>
            </ol>    
        </div>
    </div>
    <!-- Header End -->

    <!-- Accommodations Start -->
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="text-black text-center mb-4">Need Accommodations?</h2>
            </div>
            <div class="col text-end">
                <a href="{% url 'reservation:Rsv-front' flight_id 0 %}" class="btn btn-link text-success mb-4">
                    No thanks! 
                    <i class="bi bi-arrow-right"></i> <!-- Bootstrap Icon -->
                </a>
            </div>
        </div>

        <div class="row">
            {% for accommodation in accommodations %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card shadow-sm">
                        <img src="{% if accommodation.image %}{{ accommodation.image.url }}{% else %}{% static 'backOffice/assets/images/accommodation_images/default_accommodation.png' %}{% endif %}" class="card-img-top" alt="{{ accommodation.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ accommodation.name }}</h5>
                            <p class="card-text"><strong>Location:</strong> {{ accommodation.location }}, {{ accommodation.city }}</p>
                            <p class="card-text"><strong>Type:</strong> {{ accommodation.type_of_accommodation }}</p>
                            <p class="card-text"><strong>Price per Night:</strong> ${{ accommodation.price_per_night }}</p>
                            <p class="card-text"><strong>Amenities:</strong> {{ accommodation.amenities.all|join:", " }}</p>
                            <a href="{% url 'reservation:Rsv-front' flight_id accommodation.id %}" class="btn btn-success mt-2">Reserve</a>  <!-- Reserve Button -->
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p class="text-center">No accommodations found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Accommodations End -->

{% endblock %}
