{% extends 'frontOffice/base.html' %}
{% load static %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Our Rental Vehicles</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'front:indexF' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Rental Vehicles</li>
            </ol>    
        </div>
    </div>
    <!-- Header End -->

    <!-- Rental Vehicles Start -->
    <div class="container my-5">
        <div class="col text-end">
            <a href="{% url 'reservation:Rsv-front' flight_id accommodation_id 0 %}" class="btn btn-link text-success mb-4">
                No thanks! 
                <i class="bi bi-arrow-right"></i> <!-- Bootstrap Icon -->
            </a>
        </div>
    </div>

        <div class="row">
            {% for rental in transports %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card shadow-sm">
                        {% if rental.image %}
                            <img src="{{ rental.image.url }}" class="card-img-top" alt="{{ rental.title }}">
                        {% else %}
                            <img src="{% static 'backOffice/assets/images/rental_images/default_vehicle.jpg' %}" class="card-img-top" alt="Default Vehicle Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ rental.title }}</h5>
                            <p class="card-text"><strong>Type:</strong> {{ rental.transport_type }}</p>
                            <p class="card-text"><strong>Model:</strong> {{ rental.vehicle_model }}</p>
                            <p class="card-text"><strong>Capacity:</strong> {{ rental.vehicle_capacity }} people</p>
                            <p class="card-text"><strong>Price per Day:</strong> ${{ rental.price_per_day }}</p>
                            <p class="card-text"><strong>Pickup Location:</strong> {{ rental.pickup_location }}</p>
                            <p class="card-text"><strong>Dropoff Location:</strong> {{ rental.dropoff_location }}</p>
                            <a href="{% url 'reservation:Rsv-front' flight_id accommodation_id rental.id %}" class="btn btn-success mt-2">Reserve</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Rental Vehicles End -->

    <!-- Subscribe Start -->
    <div class="container-fluid subscribe py-5">
        <div class="container text-center py-5">
            <div class="mx-auto text-center" style="max-width: 900px;">
                <h5 class="subscribe-title px-3">Subscribe</h5>
                <h1 class="text-white mb-4">Our Newsletter</h1>
                <p class="text-white mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore nam, architecto doloremque velit explicabo? Voluptate sunt eveniet fuga eligendi! Expedita laudantium fugiat corrupti eum cum repellat a laborum quasi.</p>
                <div class="position-relative mx-auto">
                    <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->

{% endblock %}
